<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label" >Name</label>
              <input type="text" class="form-control" formControlName="userName">
              <span *ngIf="!userName.valid && userName.touched" class="error-block">Please provide a name</span>
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!email.valid && email.touched" class="error-block">
              <span *ngIf="email.hasError('required')">  Please provide email </span>
              <span *ngIf="email.hasError('email')">  Please provide a valid email </span>
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="text" class="form-control" formControlName="password">
            <span *ngIf="!password.valid && password.touched" class="error-block">
              <span *ngIf="password.hasError('required')">please provide a password</span>
              <span *ngIf="password.hasError('notmatched')">please provide a password which has 8 or more character</span>
            </span>
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" formControlName="cpassword">
            <span *ngIf="!cpassword.valid && cpassword.touched" class="error-block">
              <span *ngIf="cpassword.hasError('required')">  Please provide Password same as previous  </span>
              <span *ngIf="cpassword.hasError('notmatched')">  password must be same </span>
            </span>
            
          </div>
  
          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile">
            <span *ngIf="!mobile.valid && mobile.touched" class="error-block">Please provide a Mobile Number</span>
          </div>
  
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary me-2 mt-2">Save</button>
            <button type="reset" class="btn btn-secondary ml-2 mt-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  {{registerationForm.value | json}}<br/>
  {{registerationForm.valid }}
  <!-- [disabled] = "!registerationForm.valid" -->